body {
    font-family: Arial, sans-serif;
    background: #60b8a6;
    margin: 12px;
    padding: 12px;
    color: #560666;
}
img p{
    display: block;
    margin: 20PX auto;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
main{
    text-align: center;
    padding: 20px 20px;
    max-width: 900px;
    margin: 20px auto;
}

nav{
    width: 200px;
    height: 200px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
button :hover {
    background-color: #560666;
    border:rgb(16, 0, 0) 2px solid;
    padding: 10px 20px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#menu{
    display:none
}
/* Centrar todo el contenido en la página */


/* Cuadro que encierra la paleta */
div#palette1, div#palette2, div#palette3 {
  display: grid;             /* usa cuadrícula */;
  grid-template-columns: repeat(4, 230px); /* 4 columnas */
  gap: 5px;                 /* espacio entre columnas */
  padding: 5px;             /* espacio interno */
}

/* Cada color con su nombre */
div#palette > div {
  display: flex;             /* recuadro y texto en fila */
  align-items: center;       /* alinea verticalmente */
  gap: 3px;                 /* espacio entre recuadro y texto */
}
div.box{
  width: 180px;              /* tamaño del recuadro */
  height: 50px;
  border: 1px solid #000; /* borde negro */
}